.content{
    margin: 5%;
    background-color: #fff;
    padding: 4rem 1rem 4rem 1rem;
    box-shadow: 0 0 5px 5px rgba(0,0,0, .05);
}

/******* Se Connecter ******/
.form-signin {
    max-width: 330px;
    padding: 15px;
}

.carding{
    height: 200px;
}